.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  padding-top: 10px;
  padding-bottom: 5px;
}

body {
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.output {
  width: 250px;
  margin-top: 5px;
}

p {
  font-size: large;
  opacity: 0.5;
}

.App-body {
  background-color: #1a1d24;
  min-height: 87vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

label {
  margin-right: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
