.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  padding-top: 10px;
  padding-bottom: 5px;
}

body {
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/* @media (prefers-reduced-motion: no-preference) { */
  /* .App-logo { */
    /* animation: App-logo-spin infinite 2s cubic-bezier(.75,-0.01,.25,.98); */
  /* } */
/* } */

.output {
  width: 250px;
  margin-top: 5px;
}

p {
  font-size: large;
  opacity: 0.5;
}

.App-body {
  background-color: #1a1d24;
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(80deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

button {
  font-size: calc(10px + 2vmin);
}

label {
  margin-right: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
